mat-card {
  max-width: 600px;
  margin: 20px auto;
  padding: 20px;
  box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
}

mat-form-field {
  width: 100%;
}

button {
  margin-top: 10px;
  margin-right: 10px;
}
